.container { margin: 0px auto; position: relative; width: 900px; }

.fa-icon-fast{
	background:url('../images/icons/icon-fast.png') 0 0 no-repeat;
}

#slider .slider_text p{
	text-transform: initial;
	font-style: italic;
}

div#studentFormModal {
    margin: 40px auto;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
}