*{
   margin:0;
   padding:0;
}

.form{
     width:500px;
     background-color:#08c4b4a8;
     margin:0 0 0 380px;
     padding:20px;
     border-radius:5px;
}

h1{
   color:#085188ed;
   text-align:center;
   padding-bottom:10px;
}

label{
     color:#084f88;
     font-size:18px;
}

#num{
    height:30px;
    width:300px;
    padding-left:10px;
    border:none;
    border-radius:3px;
    outline:0;
}

#sub{
    width:300px;
    height:30px;
    border:none;
    border-radius:3px;
    color:white;
   font-size:15px;
    background-color:#298a78;
    margin-left:50px;
}
#image{
	width:"150";
	height:"100";
}